%h1= api_name

- index.resources.each do |resource|
  .resource
    %h2= resource.name
    %ul.examples
      - resource.examples.each do |example|
        %li.example
          = link_to example.description, "/#{example.link.gsub(".json", "")}"
